*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family: helvetica neue;
}
html,body{
  height:100%;
  width:100%;
}
.Card {
 background-color: pink;
 border-radius:10px;
 margin:20px;  

}
.nav{
  background-color:rgb(231, 228, 228);
 color:rgb(215, 25, 56);
 margin:10px;
 border-radius:10px;
 padding:10px;
}
